<div class="summary-content">
    <div class="user-summary">
      <h4>Users</h4>
      <mat-card class="tile">
        <table mat-table [dataSource]="userSummaryDataSource">
          <ng-container
            *ngFor="let column of columns"
            matColumnDef="{{ column.columnDef }}"
          >
            <div *ngIf="column.image; then imagecolumn; else textcolumn"></div>
            <ng-template #imagecolumn class="image-column">
              <th mat-header-cell *matHeaderCellDef class="centre-cell">
                <div>{{ column.header }}</div>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (click)="openDialog(row.id)"
                class="centre-cell"
              >
                <mat-icon *ngIf="row.IsSystemAdmin" color="primary"
                  >check_circle</mat-icon
                >
                <mat-icon *ngIf="!row.IsSystemAdmin" color="warn"
                  >cancel</mat-icon
                >
              </td>
            </ng-template>
            <ng-template #textcolumn class="text-column">
              <th mat-header-cell *matHeaderCellDef>
                {{ column.header }}
              </th>
              <td mat-cell *matCellDef="let row">
                {{ column.cell(row) }}
              </td>
            </ng-template>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
          <tr mat-row *matRowDef="let emprow; columns: usersColumns"></tr>
        </table>
        <mat-paginator
          #userSurveysPaginator
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [showFirstLastButtons]="true"
          fxHide.lt-md
        ></mat-paginator>
      </mat-card>
    </div>
  </div>
  