<div class="master-container">
    <app-loader></app-loader>

    <div class="header-main">
        <div class="row-flex-center-container">
            <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>
                Welcome <strong>{{ firstName }}</strong>&nbsp;<strong>{{ lastName }}</strong>
            </h1>
        </div>
        <div class="user-actions">
            <button mat-icon-button aria-label="Home" [routerLink]="['']">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button aria-label="Account">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-icon-button aria-label="Logout">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>

    <mat-sidenav-container class="app-container" autosize>
        <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav" opened="true">
            <mat-nav-list>
                <mat-list-item class="menu-item" [routerLink]="['/admin/users']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>supervisor_account</mat-icon><span>Users</span>
                    </div>
                </mat-list-item>
                <!-- <mat-list-item class="menu-item" [routerLink]="['/admin/surveys']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>description</mat-icon><span>Surveys</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>poll</mat-icon><span>Polling</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/payouts']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>account_balance_wallet</mat-icon><span>Payouts</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/rewards']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>redeem</mat-icon><span>Rewards</span>
                    </div>
                </mat-list-item> -->
                <mat-list-item class="menu-item" [routerLink]="['/admin/power/dashboard']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/power/sitemap']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>directions_boat</mat-icon><span>Sitemap</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/power/smr']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>electric_meter</mat-icon><span>Single Meter Read</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/power/bmr']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>network_check</mat-icon><span>Bulk Meter Read</span>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item" [routerLink]="['/admin/power/reporting']">
                    <div class="row-flex-start-center-container">
                        <mat-icon>description</mat-icon><span>Reporting</span>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>