<h2>Rewarding</h2>
    <div>
      <mat-select (selectionChange)="filterProducts($event.value)">
        <mat-option *ngFor="let country of countries" [value]="country.code">
          <!-- <img [src]="country.flag" class="flag" />&nbsp; -->
          {{ country.name }}
        </mat-option>
      </mat-select>
    </div>

<div class="summary-content">
  <div class="user-summary">
    <mat-card class="tile">
      <table mat-table [dataSource]="productSummaryDataSource">
        <ng-container *ngFor="let column of columns" matColumnDef="{{ column.columnDef }}">
          <div *ngIf="column.image; then imagecolumn; else textcolumn"></div>
          <ng-template #imagecolumn class="image-column">
            <th mat-header-cell *matHeaderCellDef class="centre-cell">
              <div>{{ column.header }}</div>
            </th>
            <td mat-cell *matCellDef="let row"  class="centre-cell">
              <img class="logo" [src]="column.cell(row)"/>
            </td>
          </ng-template>
          <ng-template #textcolumn class="text-column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.header }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ column.cell(row) }}
            </td>
          </ng-template>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
        <tr mat-row *matRowDef="let emprow; columns: productColumns"></tr>
      </table>
      <mat-paginator #userSurveysPaginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true" fxHide.lt-md></mat-paginator>
    </mat-card>
  </div>
</div>